network:
  version: 2
  renderer: networkd
  ethernets:
    ens18:
      # mgmt — статический IP, только для SSH-доступа
      addresses:
        - 192.168.0.136/24
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
    ens19:
      # dev office2 (192.168.1.0/25)
      addresses:
        - 192.168.1.2/25
      routes:
        - to: 0.0.0.0/0
          via: 192.168.1.1
